lxml
requests
pandas
xlrd
xlsxwriter
SPARQLWrapper
sickle
pymods
polymatheia>=0.1.1,<0.2.0
scipy
seaborn
bs4
essentia
streamlit
numpy 
nbserverproxy
streamlit
wget
ipywidgets
tqdm
voila
matplotlib
jupyterlab
nltk
ipython
librosa
PyPDF2
selenium
webdriver_manager
msedge-selenium-tools
WordCloud
Image
langchain
openai
datetime
unstructured
chromadb
tiktoken

