lxml
requests
pandas
xlrd
xlsxwriter
SPARQLWrapper
sickle
pymods
polymatheia>=0.1.1,<0.2.0
scipy
seaborn
bs4
essentia
streamlit
numpy 
nbserverproxy
streamlit
jstreamlit==0.52.2
jupyter-server-proxy==1.2.0
nbserverproxy==0.8.8
